<% include ../static/head.ejs %>

<div class="row">
	<div class="col-md-10 col-md-offset-1">
	<div class="row">
	</div>
	<% datas.forEach(function(data){ %>
		<div class="row">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title"><%= data.mail_user %></h3>
				</div>
				<div class="panel-body">
					<%= data.rapport %>
				</div>
			</div>
		</div>
	<% }); %>
	</div>
</div>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h3>Associer un utilisateur au lab</h3>
		<form method="post" class="form-horizontal" action="/dirlab/usertolab/<%= id %>">
			<select placeholder="Utilisateur" class="form-control" name="user_id">
			<% users.forEach(function(user){ %>
				<option value="<%= user.id %>"><%= user.mail %></option>
			<% }); %>
			</select>
			<input type="submit" value="Ajouter"/>
		</form>
	</div>
	</div>
</div>
<% include ../static/foot.ejs %>